body {
    background-image: url(../img/wallpaperforu-1920x1080.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}
.line-through {
    text-decoration: line-through;
}
.cursor-pointer{
    cursor: pointer;
}
.logo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: 0.9;
    border: 1px solid red;
}
