<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/style.css">
        <title>To Do List</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    
    <body>
        
        <div id="app">
            <div class="container">
                
                <header class="text-center my-3">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS21QQs3kWvFjA1iunhwKB0DbaEnUCU9uBKhNG1yxY0&s" alt="logo">
                    <div class="d-flex justify-content-center gap-2 my-3">
                        <input type="text" class="form-control w-50" v-model="todoText" @keyup.enter="addTodo()">
                        <button @click="addTodo()" class="btn btn-info">Aggiungi</button>
                    </div>
                </header>

                <div>
                    <div class="list-group">
                        <div v-for="(todo, index) in todos" class="d-flex justify-content-between list-group-item list-group-item-action">
                            <span class="cursor-pointer" :class="{'line-through': todo.done}">{{ todo.text }}</span>
                            <i @click="removeTodo(index)" class="fa-solid cursor-pointer fa-xmark"></i>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="js/script.js"></script>
    </body>

</html>